.blogPost{
    width: 80%;
    position: relative;
    padding: 0 1.5rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0,0,.2);
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
.blogInfo{
    position: relative;
    width: 120%;
    height: 100%;
    transform: translateX(-7rem);
    align-items: left;
    justify-content: left;
    padding: 0 5rem;
}
.blogImg{
    min-width: 15rem;
    max-width: 15rem;
    height: 25rem;
    position: relative;
}
.blogImg img{
    position: absolute;
    top: 10%;
    left: -5%;
    width:90%;
    height: 90%; 
    object-fit: contain;
    display: block;
    border-radius: .8rem;
}
.blogImg::before{
    content: '';
    width: 90%;
    height: 50%;
    position: absolute;
    top: 30%;
    left: -5%;
    background: linear-gradient(to right, rgba(192, 236, 241, 0.8), rgba(112, 219, 224, 0.8));
    box-shadow: .1rem .1rem 1rem 0.5px rgba(0,0,0, .05);
    border-radius: .8rem;
}
.blogDate{
    width: 50%;
    position: relative;
    left:75%;
    display: block;
    color: rgba(0,0,0,.5);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.5rem 0;
    text-align: right;
}
.blogTitle{
    font-size: 2.5rem;
    padding: 0.5rem 0 1rem 0;
    text-transform: uppercase;
    color: black;
    text-align: justify;
}
.blogText{
    padding: 10px 0px 10px 15px;
    position: relative;
    width: 450px;
    height: 90%;
    justify-content: left;
    text-align: left;
    margin:1rem 0 2rem 0;
    font-size: 20px;
    color: rgbs(0,0,0,.7)
}
.blogReadmore{
    color: white;
}
.blogReadmore button{
    display: inline-block;
    padding: 1rem 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    background-image: linear-gradient(to right, #6cbfc5 0%, #c2eff1 100%);
    border-radius: .8rem;
    text-decoration: none;
    font-family: "Verdana";
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    outline: none;
}
.blogReadmore button:hover{
    background-image: linear-gradient(to right, #5fc8ce 0%,#199aa3 100%);
}

@media screen and (max-width: 768px){
    
    .blogImg{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
}