*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: whitesmoke;
    display: flex;
    height: 100%;
    width: 100%;
}
.left{
    background-color: none;
    width: 17.5%;
    position: relative;
}
.newPost{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:none;
}

.left button{
    margin-top: 10%; 
    background: none;
    border: none;
    color: black;
    text-decoration: none;
    font-family: "Verdana";
    font-size:  16px;
    cursor: pointer;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0,0,.2);
    border-radius: .8rem;
    padding: 1rem 2rem;
    background-color: white;
    outline: none;
}
.left button:hover{
    background-color: rgb(216, 214, 214);
    font-weight: 400;
}
.middle {
    background-color: rgb(62, 182, 182);
    width: 65%;
    position: relative;
    padding: 0 8rem;
    box-shadow: 0 1rem 1rem rgba(0, 0,0,.2);
    display: grid;
    grid-row-gap: 10px;
    align-items: center;
    border-radius: .8rem;
}

.blogCard{
    padding: 10px 0px 10px 0px;
}

.right{
    background-color: none;
    width: 17.5%;
    position: relative;
}


@media screen and (max-width: 768px){
.middle{
    padding: 2.5rem;
    flex-direction: column;
}
}

@media screen and (max-width: 1068px){
    .middle{
        max-width: 70rem;
    }
    
}