*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.footer{
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #18181a;
}

.inner_footer{
    display: block;
    margin: 0 auto;
    margin-right: 0;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container_footer{
    width: 25%;
    float: left;
    height: 100%;
    display: block;
}

.inner_footer .logo_container_footer img{
    width: 90px;
    height: auto;
    margin-top: 0%;
}

.inner_footer .footer_third{
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.inner_footer .footer_third h1{
    font-family: 'Verdana';
    font-size: 16px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a{
    font-family: 'Verdana';
    font-size: 12px;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
}
.inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
    justify-content: left;
}
.inner_footer .footer_third:last-child{
    margin-right: 0;
    text-align: center;
}

.inner_footer .footer_third span{
    color: white;
    font-family: 'Verdana';
    font-size: 16px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
}

@media(max-width: 600px){
    .footer .inner_footer{
        width: 90%;
    }
    .inner_footer .logo_container_footer,
    .inner_footer .footer_third{
        width: 100%;
        margin-bottom: 30px;
    }
}