*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 70px;
    display: block;
    background-color: #18181a;
}

.inner_header{
    width: 1500px;
    height: 70px;
    display: inline-block;
    margin: 0 auto;
}

.logo_container_header{
    height: 50px;
    display: table;
    float: left;
    align-items: center;
    margin-top: 7px;
    padding-left: 60px;
}

.logo_container_header h1{
    color:teal;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Calibri';
    font-size: 32px;
    font-weight: 200;
    text-align: center;
    cursor: pointer;
}

.navigation{
    height: 10vh;
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
    float: right;
}
.categories{
    position: relative;
    display: inline-block;
    padding: 10px 0px;
}

.navigation button,
.home,
.about,
.signLog{
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    font-family: "Verdana";
    font-size:  16px;
    cursor: pointer;
    outline: none;
}

.navigation button:hover .home,
.navigation button:hover .about,
.navigation button:hover .signLog {
    color: rgb(150, 144, 144);
    font-weight: 400;
}
.navigation button{
    width: 100px;
    height: 70px;
}
.categories .catButton{
    width: 150%;
}
.navigation button:hover{
    background-color: white;
    color: rgb(179, 172, 172);
    font-weight: 400;
}

.logo img{
    width: 4vw;
    height: 55px;
}
.menu{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 2;
}
.menu a{
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .2s;
}
.menu a:hover{
    background-color: #2aacac;
    color: #fff;
    font-weight: 400;
}

.categories:hover .menu{
    display: block;
}
.categories:hover .catButton{
    background-color: #fff;
    color: rgb(150, 144, 144);
    font-weight: 400;
}

#signBtn{
    position: relative;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}